{% extends 'layout.twig' %}

{% set pageTitle = 'Empleados' %}
{% block pageContent %}

<a href="{{path('empleados.nuevo')}}" class="btn btn-info" role="button">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo
</a>
<form action="{{ path('empleados.overview')}}" method="post" {{ form_enctype(busquedaform)}} class="form-inline searchForm" >
	<div class="form-group">

		<a href="{{ path('empleados.overview')}}" class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
		</a>
		{{ form_widget(busquedaform.Busqueda,{'attr':{'class':'form-control','id':'busqueda'}})}}
	</div>
	<button type="submit" class="btn btn-info">Búsqueda</button>
	{{ form_widget(busquedaform._token)}}
</form>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Cambia</th>
			<th>Borrar empleado</th>
		</tr>
	</thead>
	<tbody>
		{% for empleado in empleados %}
		<tr>
			
			<td>{{empleado.Nombre}}</td>
			<td>
				<a href="{{path('empleados.details',{'id': empleado.idAdmins })}}" class="btn btn-info" role="button">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Cambia
				</a>
			</td>
			<td>
				<a href="javascript:void(0)" onclick="areYouSure({{empleado.idAdmins}})" class="btn btn-info" role="button" type="button">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Borrar
				</a>

			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<div id="myNav" class="overlay">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	<div class="overlay-content">

		<p>Estás seguro?</p>
		<a href="javascript:void(0)" id='si' onclick="deleteAdmin()">Sí</a>
		<a href="javascript:void(0)" id='no' onclick="closeNav()">No</a>		

	</div>
</div>
{% include 'Pagination/Pagination.twig' %}
<script type="text/javascript">
	var idAdmins;

	function areYouSure(id){
		idAdmins = id;
		openNav();
	}

	function openNav() {
		document.getElementById("myNav").style.width = "100%";
	}

	function closeNav() {
		overlay = false;
		document.getElementById("myNav").style.width = "0%";
	}

	function deleteAdmin(){
		window.location.href = "../empleados/" + idAdmins + "/delete";
	}
</script>
{% endblock %}
