{% extends 'layout.twig' %}

{% set pageTitle = 'home' %}
{% block pageContent %}
<div class="container">
	<form action="{{ path('logger.log') }}" class="form-signin" method="post" {{ form_enctype(logform)}}>

		{{ form_errors(logform) }}
		<h2 class="form-signin-heading">Scan or enter your code</h2>
		{{ form_label(logform.barcode, 'Barcode', { 'label_attr': {'class': 'sr-only'}}) }}
		{{ form_widget(logform.barcode,{'attr':{'class': 'form-control','id':'nombre','placeholder':'Barcode','autofocus':'autofocus'}}) }}
		{{ form_errors(logform.barcode) }}
		
		<button class="btn btn-lg btn-primary btn-block" type="submit">Proceed</button>

		{{ form_widget(logform._token)}}
	</form>


</div>
{% endblock %}