<!DOCTYPE html>
<html lang="ni">
<head>
	<title> Home </title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/bootstrap.css"/>
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/start.css" />
	<link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/css/header.css" />
</head>
<body>
	{% if page != 'logger' %}
	<header class="header-search">

		<div class="header-limiter">

			<h1><a href="{{ path('login') }}"><img src="{{ app.request.baseUrl }}/assets/img/logo.png" alt=""></a></h1>

			<nav>
				{% if page == 'home' %}
				<a href="{{ path('voluntarios.overview') }}">Volunteers</a>
				<a href="{{ path('empleados.overview') }}">Empleados</a>
				{% elseif page == 'voluntarios' %}
				<a href="{{ path('voluntarios.overview') }}"class="selected">Volunteers</a>
				<a href="{{ path('empleados.overview') }}">Empleados</a>
				{% elseif page == 'empleados' %}
				<a href="{{ path('voluntarios.overview') }}">Volunteers</a>
				<a href="{{ path('empleados.overview') }}" class="selected">Empleados</a>
				{% endif %}
			</nav>
			{% if session is defined %}
			{% if session != null %}
			
			<div class="loginNavigation">
				{{ session.nombre }}
				<a href="{{ path('logout') }}" class="btn btn-primary-outline">Log out</a>
				
			</div>
			{% endif %}
			{% endif %}
		</div>
	</header>
	{% endif %}
	<div class="container">
		{% block pageContent %}
		Hello!
		{% endblock %}
	</div>
</body>
</html>