{% extends 'layout.twig' %}

{% set pageTitle = 'Nuevo volentarios' %}
{% block pageContent %}

<div class="col-md-12" style="margin-bottom: 15px;">

{% if formulario == 'new' %}
<a href="{{ path('voluntarios.overview')}}" class="btn btn-info">Cancelar</a>
{% elseif formulario == 'edit' %}
<a href="{{ detailpath }}" class="btn btn-info">Cancelar</a>
{% endif %}
</div>
<form action="
{% if formulario == 'new' %}
{{ path('voluntarios.nuevoVoluntario')}}
{% elseif formulario == 'edit' %}
{{ editpath }}
{% endif %}
" method="post" {{ form_enctype(nuevoform)}} novalidate="novalidate" onsubmit="return false;">
{{ form_errors(nuevoform) }}
<div class="form-group row">
	{{ form_label(nuevoform.Nombre, 'Nombre completo', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Nombre,{'attr':{'class': 'form-control','id':'nombre','placeholder':'Nombre completo'}}) }}
		{{ form_errors(nuevoform.Nombre) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.Sexo, 'Sexo', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Sexo,{'attr':{'class': 'form-control','id':'nombre','placeholder':'Nombre completo','style':'margin-left:8px'}}) }}
		{{ form_errors(nuevoform.Sexo) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.NoDeCedula, 'No. De cédula', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.NoDeCedula,{'attr':{'class': 'form-control','id':'cedula','placeholder':'No. De Cédula'}}) }}
		{{ form_errors(nuevoform.NoDeCedula) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.DireccionDeResidencia, 'Dirección de residencia', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.DireccionDeResidencia,{'attr':{'class': 'form-control','id':'residencia','placeholder':'Dirección de residencia'}}) }}
		{{ form_errors(nuevoform.DireccionDeResidencia) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.Telefono, 'Celular', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Telefono,{'attr':{'class': 'form-control','id':'Teléfono','placeholder':'+505 XXXX XXXX'}}) }}
		{{ form_errors(nuevoform.Telefono) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.CorreoElectronico, 'Correo electrónico', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.CorreoElectronico,{'attr':{'class': 'form-control','id':'correo','placeholder':'nombre@gmail.com'}}) }}
		{{ form_errors(nuevoform.CorreoElectronico) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.InstitucionAcademica, 'Institución académica', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.InstitucionAcademica,{'attr':{'class': 'form-control','id':'institucion','placeholder':'Institución académica'}}) }}
		{{ form_errors(nuevoform.InstitucionAcademica) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.CarreraCurso, 'Carrara o curso', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.CarreraCurso,{'attr':{'class': 'form-control','id':'carreracurso','placeholder':'Carrara o curso'}}) }}
		{{ form_errors(nuevoform.CarreraCurso) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.Nivel, 'Nivel', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Nivel,{'attr':{'class': 'form-control','id':'carreracurso','placeholder':'5to anto'}}) }}
		{{ form_errors(nuevoform.Nivel) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.Area, 'Área', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Area,{'attr':{'class': 'form-control','id':'carreracurso'}}) }}
		{{ form_errors(nuevoform.Area) }}
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.DiaInicio, 'Día inicio', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		<div class='input-group date' id='datetimepicker1'>
				{{ form_widget(nuevoform.DiaInicio,{'attr':{'class':'form-control','style':'margin-top: 0px;margin-left: 0px;    height: 34.6px;'}})}}
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-calendar" id="openCalendar"></span>
				</span>
			</div>
		{{ form_errors(nuevoform.DiaInicio) }}
	</div>
</div>

<div class="col-md-12">
	<div class="form-group row">
		<table class="table table-bordered">
			<thead>
				<tr style="height:35px;">
					<th>
						{{ form_widget(nuevoform.trabajoLunes,{'attr':{'class':'trabajoLunes','id':'trabajoLunes','onchange':'switchLunes()'}})}}
						{{ form_label(nuevoform.trabajoLunes,'Lunes') }}
					</th>
					<th>
						{{ form_widget(nuevoform.trabajoMartes,{'attr':{'class':'trabajoMartes','id':'trabajoMartes','onchange':'switchMartes()'}})}}
						{{ form_label(nuevoform.trabajoMartes,'Martes') }}
					</th>
					<th>
						{{ form_widget(nuevoform.trabajoMiercoles,{'attr':{'class':'trabajoMiercoles','id':'trabajoMiercoles','onchange':'switchMiercoles()'}})}}
						{{ form_label(nuevoform.trabajoMiercoles,'Miercoles') }}
					</th>
					<th>
						{{ form_widget(nuevoform.trabajoJueves,{'attr':{'class':'trabajoJueves','id':'trabajoJueves','onchange':'switchJueves()'}})}}
						{{ form_label(nuevoform.trabajoJueves,'Jueves') }}
					</th>
					<th>
						{{ form_widget(nuevoform.trabajoViernes,{'attr':{'class':'trabajoViernes','id':'trabajoViernes','onchange':'switchViernes()'}})}}
						{{ form_label(nuevoform.trabajoViernes,'Viernes') }}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="lunes">
						<div class="form-group row">
							{{ form_label(nuevoform.fromLunes,'Desde', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.fromLunes,{'attr':{'class':'form-control input-small','id':'fromLunes'}})}}
							</div>
						</div>
						<div class="form-group row">
							{{ form_label(nuevoform.toLunes,'Hasta', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.toLunes,{'attr':{'class':'form-control input-small','id':'toLunes'}})}}
							</div>
						</div>
					</td>
					<td id="martes">
						<div class="form-group row">
							{{ form_label(nuevoform.fromMartes,'Desde', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.fromMartes,{'attr':{'class':'form-control input-small','id':'fromMartes'}})}}
							</div>

						</div>
						<div class="form-group row">
							{{ form_label(nuevoform.toMartes,'Hasta', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.toMartes,{'attr':{'class':'form-control input-small','id':'toMartes'}})}}
							</div>

						</div>
					</td>
					<td id="miercoles">
						<div class="form-group row">
							{{ form_label(nuevoform.fromMiercoles,'Desde', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.fromMiercoles,{'attr':{'class':'form-control input-small','id':'fromMiercoles'}})}}
							</div>

						</div>
						<div class="form-group row">
							{{ form_label(nuevoform.toMiercoles,'Hasta', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.toMiercoles,{'attr':{'class':'form-control input-small','id':'toMiercoles'}})}}
							</div>

						</div>
					</td>
					<td id="jueves">
						<div class="form-group row">
							{{ form_label(nuevoform.fromJueves,'Desde', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.fromJueves,{'attr':{'class':'form-control input-small','id':'fromJueves'}})}}
							</div>

						</div>
						<div class="form-group row">
							{{ form_label(nuevoform.toJueves,'Hasta', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.toJueves,{'attr':{'class':'form-control input-small','id':'toJueves'}})}}
							</div>

						</div>
					</td>
					<td id="viernes">
						<div class="form-group row">
							{{ form_label(nuevoform.fromViernes,'Desde', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.fromViernes,{'attr':{'class':'form-control input-small','id':'fromViernes'}})}}
							</div>

						</div>
						<div class="form-group row">
							{{ form_label(nuevoform.toViernes,'Hasta', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
							<div class="input-group bootstrap-timepicker timepicker">
								{{ form_widget(nuevoform.toViernes,{'attr':{'class':'form-control input-small','id':'toViernes'}})}}
							</div>

						</div>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
<div class="form-group row">
	{{ form_label(nuevoform.HorasAccumuladas, 'Horas accumuladas en el pasado', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.HorasAccumuladas,{'attr':{'class': 'form-control','id':'HorasAccumulados','placeholder':'0','value': '0','type':'number'}}) }}
		{{ form_errors(nuevoform.HorasAccumuladas) }}
	</div>
</div>

<div class="form-group row">
	{{ form_label(nuevoform.Observaciones, 'Observaciones', { 'label_attr': {'class': 'col-sm-2 form-control-label'} }) }}
	<div class="col-sm-10">
		{{ form_widget(nuevoform.Observaciones,{'attr':{'class': 'form-control','id':'Observaciones','placeholder':'Observaciones','rows':'5'}}) }}
		{{ form_errors(nuevoform.Observaciones) }}
	</div>
</div>
<div class="form-group row">
	<div class="col-sm-offset-2 col-sm-10">
		{% if formulario == 'new' %}
		<button type="submit" class="btn btn-info submitButton">Añadir</button>
		{% elseif formulario == 'edit' %}
		<button type="submit" class="btn btn-info submitButton">Guardar</button>
		{% endif %}

	</div>
</div>
{{ form_widget(nuevoform._token)}}
</form>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/jquery.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/moment.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-timepicker.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/formulario.js"></script>	
{% endblock %}