{% extends 'layout.twig' %}

{% set pageTitle = 'imprimir la página' %}
{% block pageContent %}
<div id="toRemove" >
	<a class="btn btn-info buttonright" role="button" onclick="printPage()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir insignia</a>
	<a href="/OLPC_Voluntarios/public_html/voluntarios/{{voluntario.idPersona}}" class="btn btn-info buttonleft" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Atras</a>
</div>
<div class="container">
	<div class="col-md-12">
		<p class="frame"><img id="barcode"></p>
		
	</div>
	<div class="col-md-12 lineAbove" ></div>
	<p class="frame">{{voluntario.Nombre}}</p>	
	<p class="frame">{{voluntario.Telefono}}</p>	
	<p class="frame">{{voluntario.NoDeCedula}}</p>	
	<p class="frame">{{voluntario.CorreoElectronico}}</p>	

</div>

<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/JsBarcode.js"></script>
<script type="text/javascript">
	JsBarcode("#barcode","{{ voluntario.NoDeCedula }}", {
		format:"CODE128C",
		displayValue:true
	});
	
	
	function printPage() {
		document.getElementById("toRemove").style.opacity = 0;
		document.getElementById("toRemove").style.height = 0;	
		window.print();
		setTimeout(100)
		document.getElementById("toRemove").style.opacity = 100;
		document.getElementById("toRemove").style.height = 75;	

	}
</script>
{% endblock %}