{% extends 'layout.twig' %}

{% set pageTitle = 'Imprimir la carnet' %}
{% block pageContent %}

<div id="toRemove" >
	<a class="btn btn-info buttonright" role="button" onclick="printPage()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir</a>
	<a href="{{ app.request.baseUrl}}/voluntarios/{{voluntario.idPersona}}" class="btn btn-info buttonleft " role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Atras</a>
</div>
<div class="container">
	
	<img src="{{ app.request.baseUrl }}/assets/img/carnetlogo.jpg" style="width:40px; margin-top: 20px; margin-left: 20px; position: absolute">
	<p style="margin-left: 65px; max-width: 200px; text-align: center;">{{voluntario.Nombre}}</p>	
	<p style="margin-left: 65px;  max-width: 200px; text-align: center;">Voluntario</p>	
	<p style="margin-left: 65px;  max-width: 200px; text-align: center;">Fundación Zamora Terán</p>	
	<div class="col-md-12" >
		<p ><img id="barcode"></p>
		
	</div>

</div>

<script type="text/javascript" src="{{ app.request.baseUrl }}/assets/js/JsBarcode.js"></script>
<script type="text/javascript">
	JsBarcode("#barcode","{{ voluntario.NoDeCedula }}", {
		format:"CODE128C",
		displayValue:true
	});
	
	
	function printPage() {
		document.getElementById("toRemove").style.opacity = 0;
		document.getElementById("toRemove").style.height = 0;	
		window.print();
		setTimeout(100)
		document.getElementById("toRemove").style.opacity = 100;
		document.getElementById("toRemove").style.height = 75;	

	}
</script>
{% endblock %}
