{% extends 'layout.twig' %}

{% set pageTitle = 'Detalle de voluntario' %}
{% block pageContent %}

<div class="col-md-12" style="height: 40px;">
	<a href="{{path('voluntarios.overview')}}" class="btn btn-info" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Atras</a>
	<a href="{{ path('print.card', {'id': voluntario.idPersona}) }}" class="btn btn-info print" role="button"> <span class="glyphicon glyphicon-print" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Imprimir carnet</a>

</div>
<div class="col-md-12">
	<a href="{{ path('print.pagina', {'id': voluntario.idPersona}) }}" class="btn btn-info print" role="button"> <span class="glyphicon glyphicon-print" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Imprimir constancia</a>
</div>
<div class="col-md-12">
	<a href="{{ path('print.horas', {'id': voluntario.idPersona}) }}" class="btn btn-info print" role="button" style="
	margin-top: 8px;
	"> <span class="glyphicon glyphicon-print" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Imprimir horas</a>
</div>

<div class="col-md-12">
	<div class="col-md-6 column1">
		<p><b>Nombre completo:</b> {{voluntario.Nombre}}</p>
		<p><b>No. De Cédula:</b> {{voluntario.NoDeCedula}}</p>
		<p><b>Direccion de residencia:</b> {{voluntario.DireccionDeResidencia}}</p>
		<p><b>Correo electronico:</b> {{voluntario.CorreoElectronico}}</p>
		<p><b>Área: </b>
			{% if voluntario.Area == 1 %}
			CEDSL
			{%  elseif voluntario.Area == 2 %}
			Comunicación
			{% elseif voluntario.Area == 3 %}
			Mercadeo
			{% elseif voluntario.Area == 4 %}
			Área Educativa
			{% elseif voluntario.Area == 5 %}
			Programa de Voluntariado
			{% elseif voluntario.Area == 6 %}
			Monitoreo y Evaluación
			{% elseif voluntario.Area == 7 %}
			Soporte Técnico
			{% endif %}
		</p>
	</div>
	<div class="col-md-6 column2">

		<p><b>Teléfono:</b> {{voluntario.Telefono}}</p>
		<p><b>Institucion academica:</b> {{voluntario. InstitucionAcademica}}</p>
		<p><b>Carrera o curso:</b> {{voluntario.CarreraCurso}}</p>
		<p><b>Nivel:</b> 
			{% if voluntario.Nivel == 1 %}
			1er.año
			{% elseif voluntario.Nivel ==  2 %}
			2do.año
			{% elseif voluntario.Nivel ==  3 %}
			3er.año
			{% elseif voluntario.Nivel ==  4 %}
			4to.año
			{% elseif voluntario.Nivel ==  5 %}
			5to.año
			{% elseif voluntario.Nivel ==  99 %}
			Egresado
			{% endif %}
		</div>

	</div>
	{% if voluntario.Observaciones == null %}
	<div class="col-md-12">
		<p class="frameWide"><b>Horas acumuladas:</b> {% if trabajaPara.Total == 0 %}0{% else %}{{trabajaPara.Total | round(1, 'floor')}}{% endif %} horas</p>
		<p class="frameWide"><b>Desde</b> {{voluntario.DiaInicio}} {% if lastInput %}<b> Hasta </b>{{lastInput.dia|date("d/m/Y")}}{% endif %}</p>
		{% if disponibilidad != null %}
		<div class="frame trabajaadeWide">
			<div class="col-md-3">
				<b>Horario:</b>
			</div>
			<div class="col-md-9">
				<ul style='padding-left: 10px'>
					{% for disp in disponibilidad %}
					<li>		
						{{ disp['dia']|capitalize}} desde 
						{{ disp['horaInicio'] }} hasta
						{{ disp['horaFinal'] }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		{% endif %}
	</div>
	{% else %}
	<div class="col-md-12">
		<div class="col-md-6 column1">
			<p><b>Observaciones: </b>{{ voluntario.Observaciones }}</p>
		</div>
		<div class="col-md-6 column2">
			<p class="frame"><b>Horas acumuladas:</b> {% if trabajaPara.Total == 0 %}0{% else %}{{trabajaPara.Total | round(1, 'floor')}}{% endif %} horas</p>
			<p class="frame"><b>Desde</b> {{voluntario.DiaInicio}} {% if lastInput %}<b> Hasta </b>{{lastInput.dia|date("d/m/Y")}}{% endif %}</p>
			{% if disponibilidad != null %}
			<div class="col-md-12 trabajaade">
				<div class="col-md-3" style="padding-left: 0">
					<b>Horario:</b>
				</div>
				<div class="col-md-9" style="padding-left: 0">
					<ul style="padding-left: 10px;">
						{% for disp in disponibilidad %}
						<li>		
							{{ disp['dia']|capitalize }} desde 
							{{ disp['horaInicio'] }} hasta
							{{ disp['horaFinal'] }}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}


	<div class="col-md-12">
		<a href="{{ path('voluntarios.addHours', {'id': voluntario.idPersona}) }}" class="btn btn-info" role="button" style="margin-left: 16.66666667%;"> 

			<span class="glyphicon glyphicon-plus" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Anadir horas
		</a>


		<a href="javascript:void(0)" onclick="areYouSure({{voluntario.idPersona}})"class="btn btn-danger edit pull-right"  style="
		margin-right: 10%;"  role="button"> 
		<span class="glyphicon glyphicon-remove" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Eliminar registro
	</a>



	<a href="{{ path('voluntarios.editVoluntario', {'id': voluntario.idPersona}) }}" class="btn btn-info edit pull-right" role="button" style="margin-right: 15px;"> 
		<span class="glyphicon glyphicon-cog" aria-hidden="true" style="top: 3px;margin-right: 5px;"></span> Editar Perfil
	</a>

</div>
<div class="workingTable col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">

		<table class="table table-hover">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Hora de entrada</th>
					<th>Hora de salida</th>
					<th>Total de horas</th>
					<th>Editar</th>
				</tr>
			</thead>
			<tbody>
				{% for ahoras in trabaja %}
				<tr>
					<td>{% if ahoras.dia != null %}{{ ahoras.dia|date("d/m/Y")}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.horaInicio != null %}{{ahoras.horaInicio}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.horaFinal != null %}{{ahoras.horaFinal}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.tiempo != null %}{{ahoras.tiempo}} horas{% else %}/{% endif %}</td>
					<td>
						<a href="{{ path('voluntarios.editTime', {'id': ahoras.idTrabajar}) }}">
							<button type="button" class="btn btn-info btn-number">
								<span class="glyphicon glyphicon-cog"></span>
							</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
	</div>
</div>
<div id="myNav" class="overlay">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
	<div class="overlay-content">

		<p>Estás seguro?</p>
		<a href="javascript:void(0)" id='si' onclick="deleteAdmin()">Sí</a>
		<a href="javascript:void(0)" id='no' onclick="closeNav()">No</a>		

	</div>
</div>
{% include 'Pagination/Pagination.twig' %}

<script type="text/javascript">
	var idAdmins;

	function areYouSure(id){
		idAdmins = id;
		openNav();
	}

	function openNav() {
		document.getElementById("myNav").style.width = "100%";
	}

	function closeNav() {
		overlay = false;
		document.getElementById("myNav").style.width = "0%";
	}

	function deleteAdmin(){
		window.location.href = "../" + idAdmins + "/borrar";

	}
</script>
{% endblock %}
