{% extends 'layout.twig' %}

{% set pageTitle = 'Detalle de voluntario' %}
{% block pageContent %}

<div class="col-md-12" style="height: 40px;">
	<a href="{{path('voluntarios.overview')}}" class="btn btn-info" role="button"> <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Atras</a>
	<a href="{{ app.request.baseUrl}}/print/{{voluntario.idPersona}}/card" class="btn btn-info print" role="button"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir carret</a>
</div>
<div class="col-md-12">
	<a href="{{ app.request.baseUrl}}/print/{{voluntario.idPersona}}/page" class="btn btn-info print" role="button"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir constancia</a>
</div>

<div class="col-md-12">
	<div class="col-md-6 column1">
		<p><b>Nombre completo:</b> {{voluntario.Nombre}}</p>
		<p><b>No. De Cédula:</b> {{voluntario.NoDeCedula}}</p>
		<p><b>Direccion de residencia:</b> {{voluntario.DireccionDeResidencia}}</p>
		<p><b>Correo electronico:</b> {{voluntario.CorreoElectronico}}</p>
		<p><b>Trabaja con: </b>
			{%  if voluntario.Area == 1 %}
			Comunicación
			{% elseif voluntario.Area == 2 %}
			Mercadeo
			{% elseif voluntario.Area == 3 %}
			Área Educativa
			{% elseif voluntario.Area == 4 %}
			Programa de Voluntariado
			{% elseif voluntario.Area == 5 %}
			Monitoreo y Evaluación
			{% elseif voluntario.Area == 6 %}
			Técnico
			{% endif %}
		</p>
	</div>
	<div class="col-md-6 column2">

		<p><b>Teléfono:</b> {{voluntario.Telefono}}</p>
		<p><b>institucion academica:</b> {{voluntario. InstitucionAcademica}}</p>
		<p><b>Carrerra o curso:</b> {{voluntario.CarreraCurso}}</p>
		<p><b>Nivel:</b> {{voluntario.Nivel}}</p>
	</div>
	
</div>
{% if voluntario.Observaciones == null %}
<div class="col-md-12">
	<p class="frameWide"><b>Horas acumuladas:</b> {% if trabajaPara.Total == 0 %}0{% else %}{{trabajaPara.Total}}{% endif %} horas</p>
	<p class="frameWide"><b>Desde</b> {{voluntario.DiaInicio}} {% if voluntario.DiaFinal != null %}<b> Hasta </b>{{voluntario.DiaFinal}}{% endif %}</p>
	{% if disponibilidad != null %}
	<div class="frame trabajaadeWide">
		<div class="col-md-3">
			<b>Horario:</b>
		</div>
		<div class="col-md-9">
			<ul style='padding-left: 10px'>
				{% for disp in disponibilidad %}
				<li>		
					{{ disp['dia']|capitalize}} desde 
					{{ disp['horaInicio'] }} hasta
					{{ disp['horaFinal'] }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% endif %}
</div>
{% else %}
<div class="col-md-12">
	<div class="col-md-6 column1">
		<p><b>Observaciones: </b>{{ voluntario.Observaciones }}</p>
	</div>
	<div class="col-md-6 column2">
		<p class="frame"><b>Horas acumuladas:</b> {% if trabajaPara.Total == 0 %}0{% else %}{{trabajaPara.Total}}{% endif %} horas</p>
		<p class="frame"><b>Desde</b> {{voluntario.DiaInicio}} {% if voluntario.DiaFinal != null %}<b> Hasta </b>{{voluntario.DiaFinal}}{% endif %}</p>
		{% if disponibilidad != null %}
		<div class="col-md-12 trabajaade">
			<div class="col-md-3" style="padding-left: 0">
				<b>Horario:</b>
			</div>
			<div class="col-md-9" style="padding-left: 0">
				<ul style="padding-left: 10px;">
					{% for disp in disponibilidad %}
					<li>		
						{{ disp['dia']|capitalize }} desde 
						{{ disp['horaInicio'] }} hasta
						{{ disp['horaFinal'] }}
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}


<div class="col-md-12">

	<a href="{{ app.request.baseUrl}}/voluntarios/{{voluntario.idPersona}}/edit" class="btn btn-info edit" role="button"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>

</div>
<div class="workingTable col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Hora de entrada</th>
					<th>Hora de salida</th>
					<th>Total de horas</th>
				</tr>
			</thead>
			<tbody>
				{% for ahoras in trabaja %}
				<tr>
					<td>{% if ahoras.dia != null %}{{ahoras.dia}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.horaInicio != null %}{{ahoras.horaInicio}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.horaFinal != null %}{{ahoras.horaFinal}}{% else %}/{% endif %}</td>
					<td>{% if ahoras.tiempo != null %}{{ahoras.tiempo}} horas{% else %}/{% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-2">
	</div>
</div>
{% include 'Pagination/Pagination.twig' %}


{% endblock %}
